<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/popup.js" defer></script>
    <!-- Tailwind & Iconify -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4" defer></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.8/iconify-icon.min.js" defer></script>
    <!-- Flowbite JS + CSS -->
    <script src="https://unpkg.com/flowbite@2.3.0/dist/flowbite.min.js" defer></script>
    <title>Liste des profs</title>
</head>
<body class="bg-gray-50">
    <main class="flex">
        <div class="flex justify-center ps-5 h-screen overflow-y-scroll" style="scrollbar-width: none;">
            <!-- Navbar -->
            <ul class="py-9 space-y-6">
                <li><a href="/dashboard-default"><iconify-icon icon="mdi:view-dashboard-outline" class="text-3xl"></iconify-icon></a></li>
                <li><a href="/dashboard-item"><iconify-icon icon="mdi:clipboard-list-outline" class="text-3xl"></iconify-icon></a></li>
                <li><a href="/dashboard-treasury"><iconify-icon icon="mdi:safe" class="text-3xl"></iconify-icon></a></li>
                <li><a href="/dashboard-statistic"><iconify-icon icon="mdi:chart-bar" class="text-3xl"></iconify-icon></a></li>
                <li><a href="/prof-list" class="text-cyan-600"><iconify-icon icon="mdi:account-tie-outline" class="text-3xl"></iconify-icon></a></li>
                <li><a href="/student-list"><iconify-icon icon="mdi:account-school-outline" class="text-3xl"></iconify-icon></a></li>
                <li><a href="/parent-list"><iconify-icon icon="mdi:account-group-outline" class="text-3xl"></iconify-icon></a></li>
                <li><a href="/staff-list"><iconify-icon icon="mdi:account-multiple-outline" class="text-3xl"></iconify-icon></a></li>
                <li><a href="/activity-list"><iconify-icon icon="mdi:calendar-check-outline" class="text-3xl"></iconify-icon></a></li>
                <li><a href="/item-list"><iconify-icon icon="mdi:folder-outline" class="text-3xl"></iconify-icon></a></li>
                <li><a href="/setting-class"><iconify-icon icon="uil:setting" class="text-3xl"></iconify-icon></a></li>
            </ul>
        </div>

        <div class="px-6 py-6 w-full h-screen overflow-y-scroll" style="scrollbar-width: none;">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-5">
              <div class="bg-white border border-gray-300 h-30 px-4 pt-2">
                <h2 class="text-2xl">Professeurs actif</h2>
                <p class="text-2xl text-end mt-8">0</p>
              </div>

              <div class="bg-white border border-gray-300 h-30 px-4 pt-2">
                <h2 class="text-2xl">Professeurs Inactif</h2>
                <p class="text-2xl text-end mt-8">0</p>
              </div>

              <div class="bg-white border border-gray-300 h-30 px-4 pt-2">
                <h2 class="text-2xl">Professeurs Total</h2>
                <p class="text-2xl text-end mt-8">0</p>
              </div>
            </div>


            <div class="my-5 space-x-3 mt-5">
                <button class="bg-white border border-gray-300 font-medium text-gray-600 h-11 w-35 cursor-pointer" onclick="openModal('add')">Ajouter</button>
                
                <button class="bg-white border border-gray-300 font-medium text-gray-600 h-11 w-35 cursor-pointer" onclick="openModal('filter')">Filtrer</button>
                
                <button class="bg-white border border-gray-300 font-medium text-gray-600 h-11 w-35 cursor-pointer">Exporter</button>
            </div>

           <div class="bg-white border border-gray-300 px-4 py-6">
                {{if .prof}}
                <div class="relative overflow-x-auto">
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-white font-thin uppercase bg-cyan-900">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    Matricule
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Nom
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Matiére
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Sexe
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Niveau d'étude
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Tel
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Date d'arrivé
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {{ range .prof}}
                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    {{ .Matricul }}
                                </th>
                                <td class="px-6 py-4">
                                    {{ .FirstName }} {{ .LastName }}
                                </td>
                                <td class="px-6 py-4">
                                    {{ .Lesson }}
                                </td>
                                <td class="px-6 py-4">
                                    {{ .Sexe }}
                                </td>
                                <td class="px-6 py-4">
                                    {{ .Grade }}
                                </td>
                                <td class="px-6 py-4">
                                    {{ .Phone }}
                                </td>
                                <td class="px-6 py-4">
                                    {{ .Start | formatDate }}
                                </td>
                                <td class="px-6 py-4 space-x-1">
                                    <button class="dropdown-trigger focus:outline-none font-medium text-lg py-2 inline-flex items-center hover:text-green-900" data-modal-target="update-modal-{{.ID}}" data-modal-toggle="update-modal-{{.ID}}" type="button">
                                        <iconify-icon icon="fluent:pen-32-filled" width="20" height="20"></iconify-icon>
                                    </button>
                                    <button class="dropdown-trigger focus:outline-none font-medium text-lg py-2 inline-flex items-center hover:text-red-900" data-modal-target="delete-modal-{{.ID}}" data-modal-toggle="delete-modal-{{.ID}}" type="button">
                                        <iconify-icon icon="material-symbols:delete-outline-rounded" width="20" height="20"></iconify-icon>
                                    </button>
                                </td>
                            </tr>
                            {{ end }}
                        </tbody>
                    </table>
                </div>
                {{else}}
                <p class="text-2xl text-gray-800 text-center">Aucun professeurs éxistant, veuillez en ajouté</p>
                {{ end }}
           </div>
        </div>
    </main>

    

    <!-- Modal d'ajout des profs -->
    <div class="fixed inset-0 bg-black/30 bg-opacity-50 flex items-center justify-center z-50 hidden" id="add">
        <form action="/prof-list" method="post" class="bg-white rounded-sm shadow-lg max-w-2xl w-full p-6">
            <!-- Header -->
            <div class="flex justify-between items-center mb-6">
                <h2 class="text-xl font-semibold">Ajouter un prof</h2>
            </div>

            <!-- Body -->
            <div class="mb-6 space-y-4">
                <div class="">
                    <label for="">Matricule</label>
                    <input type="text" name="matricul" placeholder="Matricule du prof" class="border hover:outline-none focus:outline-none p-1 w-full" required>
                </div>
               
                <div class="flex space-x-2">
                    <div class="w-1/2">
                        <label for="">Nom</label>
                        <input type="text" name="firstName" placeholder="Nom du prof" class="border hover:outline-none focus:outline-none p-1 w-full" required>
                    </div>
                
                    <div class="w-1/2">
                        <label for="">Prenom</label>
                        <input type="text" name="lastName" placeholder="Prenom du prof" class="border hover:outline-none focus:outline-none p-1 w-full" required>
                    </div>
                </div>

                <div class="flex space-x-2">
                    <div class="w-1/2">
                        <label for="">Cours</label>
                        <select name="lesson" class="border hover:outline-none focus:outline-none p-1 w-full" required>
                            <option selected disabled>Veuillez choisir les matieres</option>
                            <option value="Anglais">Anglais</option>
                            <option value="Français">Français</option>
                        </select>
                    </div>
                
                    <div class="w-1/2">
                        <label for="">Sexe</label>
                        <select name="sexe" class="border hover:outline-none focus:outline-none p-1 w-full" required>
                            <option selected disabled>Veuillez choisir le sexe</option>
                            <option value="Masculin">Masculin</option>
                            <option value="Feminin">Feminin</option>
                            <option value="Autres">Autres</option>
                        </select>
                    </div>
                </div>

                <div class="flex space-x-2">
                    <div class="w-1/2">
                        <label for="">Email</label>
                        <input type="email" name="email" placeholder="Email du prof" class="border hover:outline-none focus:outline-none p-1 w-full" required>
                    </div>
                    
                    <div class="w-1/2">
                        <label for="">Numèro de téléphone</label>
                        <input type="text" name="phone" placeholder="Numéro de téléphone du prof" class="border hover:outline-none focus:outline-none p-1 w-full" required>
                    </div>
                </div>

                <div>
                    <label for="">Niveau d'étude</label>
                    <select name="grade" class="border hover:outline-none focus:outline-none p-1 w-full" required>
                        <option disabled selected>Dernier diplome</option>
                        <option value="CP1">CP1</option>
                        <option value="CP2">CP2</option>
                        <option value="CE1">CE1</option>
                        <option value="CE2">CE2</option>
                        <option value="CM1">CM1</option>
                        <option value="CM2">CM2</option>
                        <option value="6e">6e</option>
                        <option value="5e">5e</option>
                        <option value="4e">4e</option>
                        <option value="3e">3e</option>
                        <option value="Seconde">Seconde</option>
                        <option value="Première">Première</option>
                        <option value="Terminale">Terminale</option>
                        <option value="BTS">BTS</option>
                        <option value="Licence">Licence</option>
                    </select>
                </div>
               
                <div class="">
                    <label for="">Date de debut</label>
                    <input type="date" name="start" class="border hover:outline-none focus:outline-none p-1 w-full" required>
                </div>
            </div>

            <!-- Footer -->
            <div class="flex justify-end space-x-2">
                <button type="reset" class="px-4 py-2 bg-gray-100 text-gray-700 rounded-lg hover:bg-gray-200">
                    Annuler
                </button>
                <button type="submit" class="px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700">
                    Confirmer
                </button>
            </div>
        </form>
    </div>

    <!-- Modal poour filtrer les profs -->
    <div class="fixed inset-0 bg-black/30 bg-opacity-50 flex items-center justify-center z-50 hidden" id="filter">
        <form action="" method="post" class="bg-white rounded-sm shadow-lg max-w-2xl w-full p-6">
            <!-- Header -->
            <div class="flex justify-between items-center mb-6">
                <h2 class="text-xl font-semibold">Recherche un prof</h2>
            </div>

            <!-- Body -->
            <div class="mb-6 space-y-4">
                <div class="">
                    <label for="">Matricule</label>
                    <input type="text" name="Matricul" placeholder="Matricule du prof" class="border hover:outline-none focus:outline-none p-1 w-full">
                </div>
               
                <div class="flex space-x-2">
                    <div class="w-1/2">
                        <label for="">Nom</label>
                        <input type="text" name="FirstName" placeholder="Nom du prof" class="border hover:outline-none focus:outline-none p-1 w-full">
                    </div>
                
                    <div class="w-1/2">
                        <label for="">Prenom</label>
                        <input type="text" name="LastName" placeholder="Prenom du prof" class="border hover:outline-none focus:outline-none p-1 w-full">
                    </div>
                </div>

                <div class="flex space-x-2">
                    <div class="w-1/2">
                        <label for="">Cours</label>
                        <select name="Lesson" class="border hover:outline-none focus:outline-none p-1 w-full">
                            <option selected disabled>Veuillez choisir les matieres</option>
                            <option value="Anglais">Anglais</option>
                            <option value="Français">Français</option>
                        </select>
                    </div>
                
                    <div class="w-1/2">
                        <label for="">Sexe</label>
                        <select name="Sexe" class="border hover:outline-none focus:outline-none p-1 w-full">
                            <option selected disabled>Veuillez choisir le sexe</option>
                            <option value="Masculin">Masculin</option>
                            <option value="Feminin">Feminin</option>
                            <option value="Autres">Autres</option>
                        </select>
                    </div>
                </div>

                <div class="flex space-x-2">
                    <div class="w-1/2">
                        <label for="">Email</label>
                        <input type="email" name="Email" placeholder="Email du prof" class="border hover:outline-none focus:outline-none p-1 w-full">
                    </div>
                    
                    <div class="w-1/2">
                        <label for="">Numèro de téléphone</label>
                        <input type="text" name="Phone" placeholder="Numéro de téléphone du prof" class="border hover:outline-none focus:outline-none p-1 w-full">
                    </div>
                </div>

                <div>
                    <label for="">Niveau d'étude</label>
                    <input type="text" name="Grade" placeholder="Niveau d'étude du prof" class="border hover:outline-none focus:outline-none p-1 w-full">
                </div>
               
                <div class="flex space-x-2">
                    <div class="w-1/2">
                        <label for="">Date de debut</label>
                        <input type="date" name="Start" class="border hover:outline-none focus:outline-none p-1 w-full">
                    </div>

                    <div class="w-1/2">
                        <label for="">Date de fin</label>
                        <input type="date" name="End" class="border hover:outline-none focus:outline-none p-1 w-full">
                    </div>
                </div>
            </div>

            <!-- Footer -->
            <div class="flex justify-end space-x-2">
                <button type="reset" class="px-4 py-2 bg-gray-100 text-gray-700 rounded-lg hover:bg-gray-200">
                    Annuler
                </button>
                <button type="submit" class="px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700">
                    Rechercher
                </button>
            </div>
        </form>
    </div>


    <!-- Update modal -->
    {{ range .prof}}
    <div id="update-modal-{{.ID}}" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-2xl max-h-full">
            <form action="/prof/update/{{.ID}}" method="post" class="bg-white rounded-sm shadow-lg max-w-2xl w-full p-6">
                <!-- Header -->
                <div class="flex justify-between items-center mb-6">
                    <h2 class="text-2xl font-semibold">Modifier un prof</h2>
                </div>

                <!-- Body -->
                <div class="mb-6 space-y-4">
                    <div class="">
                        <label for="">Matricule</label>
                        <input type="text" name="matricul" placeholder="Matricule du prof" class="border hover:outline-none focus:outline-none p-1 w-full" value="{{ .Matricul}}" required>
                    </div>
                
                    <div class="flex space-x-2">
                        <div class="w-1/2">
                            <label for="">Nom</label>
                            <input type="text" name="firstName" placeholder="Nom du prof" class="border hover:outline-none focus:outline-none p-1 w-full" value="{{ .FirstName}}" required>
                        </div>
                    
                        <div class="w-1/2">
                            <label for="">Prenom</label>
                            <input type="text" name="lastName" placeholder="Prenom du prof" class="border hover:outline-none focus:outline-none p-1 w-full" value="{{ .LastName }}" required>
                        </div>
                    </div>

                    <div class="flex space-x-2">
                        <div class="w-1/2">
                            <label for="">Cours</label>
                            <select name="lesson" class="border hover:outline-none focus:outline-none p-1 w-full" required>
                                <option disabled>Veuillez choisir les matieres</option>
                                <option value="Anglais" {{if eq .Lesson "Anglais"}}selected{{end}}>Anglais</option>
                                <option value="Français" {{if eq .Lesson "Français"}}selected{{end}}>Français</option>
                            </select>
                        </div>
                    
                        <div class="w-1/2">
                            <label for="">Sexe</label>
                            <select name="sexe" class="border hover:outline-none focus:outline-none p-1 w-full" required>
                                <option selected disabled>Veuillez choisir le sexe</option>
                                <option value="Masculin" {{if eq .Sexe "Masculin"}}selected{{end}}>Masculin</option>
                                <option value="Feminin" {{if eq .Sexe "Feminin"}}selected{{end}}>Feminin</option>
                                <option value="Autres" {{if eq .Sexe "Autres"}}selected{{end}}>Autres</option>
                            </select>
                        </div>
                    </div>

                    <div class="flex space-x-2">
                        <div class="w-1/2">
                            <label for="">Email</label>
                            <input type="email" name="email" placeholder="Email du prof" class="border hover:outline-none focus:outline-none p-1 w-full" value="{{ .Email }}" required>
                        </div>
                        
                        <div class="w-1/2">
                            <label for="">Numèro de téléphone</label>
                            <input type="text" name="phone" placeholder="Numéro de téléphone du prof" class="border hover:outline-none focus:outline-none p-1 w-full" value="{{ .Phone }}"  required>
                        </div>
                    </div>

                    <div>
                        <label for="">Niveau d'étude</label>
                        <select name="grade" class="border hover:outline-none focus:outline-none p-1 w-full" required>
                            <option disabled selected>Dernier diplome</option>
                            <option value="CP1" {{if eq .Grade "CP1"}}selected{{end}}>CP1</option>
                            <option value="CP2" {{if eq .Grade "CP2"}}selected{{end}}>CP2</option>
                            <option value="CE1" {{if eq .Grade "CE1"}}selected{{end}}>CE1</option>
                            <option value="CE2" {{if eq .Grade "CE2"}}selected{{end}}>CE2</option>
                            <option value="CM1" {{if eq .Grade "CM1"}}selected{{end}}>CM1</option>
                            <option value="CM2" {{if eq .Grade "CM2"}}selected{{end}}>CM2</option>
                            <option value="6e" {{if eq .Grade "6e"}}selected{{end}}>6e</option>
                            <option value="5e" {{if eq .Grade "5e"}}selected{{end}}>5e</option>
                            <option value="4e" {{if eq .Grade "4e"}}selected{{end}}>4e</option>
                            <option value="3e" {{if eq .Grade "3e"}}selected{{end}}>3e</option>
                            <option value="Seconde" {{if eq .Grade "Seconde"}}selected{{end}}>Seconde</option>
                            <option value="Première" {{if eq .Grade "Première"}}selected{{end}}>Première</option>
                            <option value="Terminale" {{if eq .Grade "Terminale"}}selected{{end}}>Terminale</option>
                            <option value="BTS" {{if eq .Grade "BTS"}}selected{{end}}>BTS</option>
                            <option value="Licence" {{if eq .Grade "Licence"}}selected{{end}}>Licence</option>
                        </select>
                    </div>
                
                    <div class="">
                        <label for="">Date de debut</label>
                        <input type="date" name="start" class="border hover:outline-none focus:outline-none p-1 w-full" value="{{ .Start | formatDate}}" required>
                    </div>
                </div>

                <!-- Footer -->
                <div class="flex justify-end space-x-2">
                    <button type="reset" class="px-4 py-2 bg-gray-100 text-gray-700 rounded-lg hover:bg-gray-200">
                        Annuler
                    </button>
                    <button type="submit" class="px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700">
                        Confirmer
                    </button>
                </div>
            </form>
        </div>
    </div>
    {{ end}}

    <!-- Delete modal -->
    {{ range .prof }}
    <div id="delete-modal-{{.ID}}" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-2xl max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
                <!-- Modal body -->
                <div class="p-4 md:p-5 space-y-1">
                    <h6 class="font-semibold text-xl text-red-950">Attention</h6>
                    <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                        Vous êtes sur le point de supprimer un professeur. Cette action est irréversible.
                    </p>
                </div>
                <!-- Modal footer -->
                <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                    <form action="/prof/delete/{{.ID}}" method="post">
                        <button type="submit" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">I accept</button>
                    </form>
                    <button data-modal-hide="delete-modal-{{.ID}}" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-red-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Decline</button>
                </div>
            </div>
        </div>
    </div>
    {{ end }}

</body>
</html>

