

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4" defer></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.8/iconify-icon.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    <title>Parametre - Acceuil</title>
</head>
<body class="">
    <main class="flex">
        <div class="flex justify-center px-6 h-screen border-r border-gray-300 overflow-y-scroll" style="scrollbar-width: none;">
            <!-- Navbar -->
            <ul class="pt-8 pb-12 space-y-6">
                <li><a href="/dashboard-default"><iconify-icon icon="mdi:view-dashboard-outline" class="text-2xl"></iconify-icon></a></li>
                <li><a href="/dashboard-item"><iconify-icon icon="mdi:clipboard-list-outline" class="text-2xl"></iconify-icon></a></li>
                <li><a href="/dashboard-treasury"><iconify-icon icon="mdi:safe" class="text-2xl"></iconify-icon></a></li>
                <li><a href="/dashboard-statistic"><iconify-icon icon="mdi:chart-bar" class="text-2xl"></iconify-icon></a></li>
                <li><a href="/prof-list"><iconify-icon icon="mdi:account-tie-outline" class="text-2xl"></iconify-icon></a></li>
                <li><a href="/student-list"><iconify-icon icon="mdi:account-school-outline" class="text-2xl"></iconify-icon></a></li>
                <li><a href="/parent-list"><iconify-icon icon="mdi:account-group-outline" class="text-2xl"></iconify-icon></a></li>
                <li><a href="/staff-list"><iconify-icon icon="mdi:account-multiple-outline" class="text-2xl"></iconify-icon></a></li>
                <li><a href="/activity-list"><iconify-icon icon="mdi:calendar-check-outline" class="text-2xl"></iconify-icon></a></li>
                <li><a href="/item-list"><iconify-icon icon="mdi:folder-outline" class="text-2xl"></iconify-icon></a></li>
                <li><a href="/setting-general" class="text-cyan-600"><iconify-icon icon="uil:setting" class="text-2xl"></iconify-icon></a></li>
            </ul>
        </div>

        <div class="h-screen flex flex-col">
            <header class="px-10 py-6 border-b border-gray-300 flex justify-between items-center">
                <!-- contenu du header -->
            </header>

            <main class="flex-1 px-12 pt-12 pb-28 overflow-y-auto" style="scrollbar-width: none;">
                <div>
                    <h1 class="font-medium text-2xl mb-1">Paramètre</h1>
                    <p class="text-gray-800"><span class="font-medium">Username</span> . <span class="text-gray-500">mail@gmail.com</span> . <a href="/profile" class="text-cyan-600">Information Personnel</a></p>
                </div>
                
                <div class="grid grid-cols-3 gap-7 mt-8"> 
                    <div class="cols">
                        <a href="/setting-class" class="inset-0">
                            <div class="bg-white border border-gray-300 hover:border-cyan-400 hover:bg-gray-50 rounded-xl p-6 relative ">
                                <h2 class="font-medium text-lg mb-1">Classes</h2>
                                <p class="text-gray-700">Keep updated with important notices and event reminders.</p>
                            </div>
                        </a>
                    </div>

                    <div class="cols">
                        <a href="/setting-lesson" class="inset-0">
                            <div class="bg-white border border-gray-300 hover:border-cyan-400 hover:bg-gray-50 rounded-xl p-6">
                                <h2 class="font-medium text-lg mb-1">Matières</h2>
                                <p class="text-gray-700">Keep updated with important notices and event reminders.</p>
                            </div>
                        </a>
                    </div>

                    <div class="cols">
                        <a href="/setting-log" class="inset-0">
                            <div class="bg-white border border-gray-300 hover:border-cyan-400 hover:bg-gray-50 rounded-xl p-6">
                                <h2 class="font-medium text-lg mb-1">Logs</h2>
                                <p class="text-gray-700">Keep updated with important notices and event reminders.</p>
                            </div>
                        </a>
                    </div>

                    <div class="cols">
                        <a href="/history-transaction" class="inset-0">
                            <div class="bg-white border border-gray-300 hover:border-cyan-400 hover:bg-gray-50 rounded-xl p-6">
                                <h2 class="font-medium text-lg mb-1">Historique de transaction</h2>
                                <p class="text-gray-700">Keep updated with important notices and event reminders.</p>
                            </div>
                        </a>
                    </div>

                    <div class="cols">
                        <a href="/history-earning" class="inset-0">
                            <div class="bg-white border border-gray-300 hover:border-cyan-400 hover:bg-gray-50 rounded-xl p-6">
                                <h2 class="font-medium text-lg mb-1">Historique des CA</h2>
                                <p class="text-gray-700">Keep updated with important notices and event reminders.</p>
                            </div>
                        </a>
                    </div>

                    <div class="cols">
                        <a href="/history-expense">
                            <div class="bg-white border border-gray-300 hover:border-cyan-400 hover:bg-gray-50 rounded-xl p-6">
                                <h2 class="font-medium text-lg mb-1">Historique de depense</h2>
                                <p class="text-gray-700">Keep updated with important notices and event reminders.</p>
                            </div>
                        </a>
                    </div>

                    <div class="cols">
                        <a href="/setting-school-year">
                            <div class="bg-white border border-gray-300 hover:border-cyan-400 hover:bg-gray-50 rounded-xl p-6">
                                <h2 class="font-medium text-lg mb-1">Année Scolaires</h2>
                                <p class="text-gray-700">Keep updated with important notices and event reminders.</p>
                            </div>
                        </a>
                    </div>

                    <div class="cols">
                        <a href="/setting-role">
                            <div class="bg-white border border-gray-300 hover:border-cyan-400 hover:bg-gray-50 rounded-xl p-6">
                                <h2 class="font-medium text-lg mb-1">Rôles</h2>
                                <p class="text-gray-700">Keep updated with important notices and event reminders.</p>
                            </div>
                        </a>
                    </div>

                    <div class="cols">
                        <a href="/setting-notification">
                            <div class="bg-white border border-gray-300 hover:border-cyan-400 hover:bg-gray-50 rounded-xl p-6">
                                <h2 class="font-medium text-lg mb-1">Notification</h2>
                                <p class="text-gray-700">Keep updated with important notices and event reminders.</p>
                            </div>
                        </a>
                    </div>

                    <div class="cols">
                        <a href="/synchronization">
                            <div class="bg-white border border-gray-300 hover:border-cyan-400 hover:bg-gray-50 rounded-xl p-6">
                                <h2 class="font-medium text-lg mb-1">Synchronisation</h2>
                                <p class="text-gray-700">Keep updated with important notices and event reminders.</p>
                            </div>
                        </a>
                    </div>

                    <div class="cols">
                        <a href="/save-data">
                            <div class="bg-white border border-gray-300 hover:border-cyan-400 hover:bg-gray-50 rounded-xl p-6">
                                <h2 class="font-medium text-lg mb-1">Import | Export</h2>
                                <p class="text-gray-700">Keep updated with important notices and event reminders.</p>
                            </div>
                        </a>
                    </div>
        
                </div> 
            </main>
        </div>
    </main>
</body>
</html>

